
<header class="masthead" id="duelApp">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="navbar-brand" href="/logout">Logout</a>
  </li>
</ul>
 <h1 class="mx-auto my-0 text-center">Prepare to Duel</h1>

    
    {{!-- <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0">Prepare to Duel</h1>
            
                        <section class="signup-section" id="signup"> --}}
                            {{!-- <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="btn btn-primary" href="/" id="logoutBtn" >Logout></a>
  </form>
</nav> --}}


<div class="container">
    <div class="row">
        {{!-- current player --}}
        <div class="col">
            <div class="row">  <div class="userChar">
                <section class="card col-md-4 player-card">
                <image class="userImage" src="{{character.image}}">


                    <div class="userName">
                        {{character.name}}
                    </div>
                    <div class="userHealth">
                        Health: {{character.health}}
                    </div>
                    <div class="userAttack">
                        Attack: {{character.attack}}
                    </div>
                </section>
                   <div class="winner"></div>
            </div></div>
         
          
           
   
        </div>
        {{!-- enemy --}}
        <div class="col">

            <div class="randChar"></div>
            <div class="col"><form action="">
                <select class="charList" name="test" id="">
                    <option value="" selected>Select</option>
                </select>
            </form>
            <div class="ranBtn">
            </div></div>
            

        </div>

    </div>
    {{!-- play btn --}}
    <div class="row">
         <div class="play gameBtn"></div>
    </div>
    {{!-- footer --}}
    <div class="row">
        <footer class="footer bg-black small text-center text-white-50">
      <div class="container">Gabriella Trujillo-Robnett | Brittanie Barrett | David Carmona | Aaron Howard</div>
    </footer>
    </div>

</div>


            
            <!-- DROPDOWN BUTTON -->
            {{!-- <form action="">
                <select class="charList" name="test" id="">
                    <option value="" selected>Select</option>
                </select>
            </form>
            <div class="ranBtn">
            </div>
            <div class="winner"></div>
            <div class="userChar">
                <image class="userImage" src="{{character.image}}">


                    <div class="userName">
                        {{character.name}}
                    </div>
                    <div class="userHealth">
                        Health: {{character.health}}
                    </div>
                    <div class="userAttack">
                        Attack: {{character.attack}}
                    </div>
            </div>
            <div class="randChar"></div>
            <div class="play"></div>
            </section> --}} 
                        

            
            </header>
              {{!-- <footer class="footer bg-black small text-center text-white-50">
      <div class="container">Gabriella Trujillo-Robnett | Brittanie Barrett | David Cameron | Aaron Howard</div>
    </footer> --}}
            
